@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Global coloring */
:root {
  --yellow: #FFBD13;
  --blue: #4383FF;
  --blue-d-1: #3278FF;
  --light: #F5F5F5;
  --grey: #AAA;
  --white: #FFF;
  --shadow: 8px 8px 30px rgba(0,0,0,.05);
  --orange: #F49619;
  --orange-d-1: #d38117;
}

@media (max-width: 600px) {
    .logo img, .app-logo img {
      width: 50%; 
    }
  
    .dropdown-content {
      width: auto; 
    }
  
    .offer-card {
      width: 100%; 
      margin: 10px 0; 
    }
  }
/* Sort Menu Styling */
.sort-menu {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.sort-menu label {
  font-weight: 600;
  margin-right: 10px;
  color: var(--orange);
  font-family: 'Poppins', sans-serif;
}

.sort-menu select {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid var(--grey);
  background-color: var(--light);
  box-shadow: none;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  color: var(--grey); /* Text color in the dropdown */
}

.sort-menu select:focus {
  outline: none;
  border-color: var(--orange-d-1);
}

.sort-menu select option {
  font-family: 'Poppins', sans-serif;
  color: var(--grey);
}


/* header */
.navbar {
  display: flex;
  align-items: center;
  background: var(--light);
  padding: 1em;
  z-index: 500;
} 

.Dashboards:hover {
  color: var(--orange);
}

.ComingSoon:hover {
  color: var(--orange);
}

.logo img{
  margin-right: 1em;
  width: 400px; 
  height: 90px;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 1em;
  z-index: 501; 
}

.Dashboards button, .ComingSoon button {
  background: none; 
  color: inherit; 
  border: none; 
  padding: 0; 
  font: inherit; 
  cursor: pointer; 
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1000;
}

.ComingSoon, .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: var(--orange);
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  background-color: #f1f1f1;
  display: block;
}

.ComingSoon a {
  color: inherit; 
  text-decoration: none; 
  display: block; 
}

.cart-icon {
  margin-left: auto; 
  margin-right: 30px;
  padding: 0 15px; 
}

.cart-icon a {
  color: var(--orange); 
  font-size: 1.5rem; 
  display: flex; 
  align-items: center;
}

.cart-icon a:hover {
  color: var(--orange-d-1); 
}



/*content of page*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  html, body {
      width: 100%;
      max-width: 100%; 
      overflow-x: hidden; 
  }
  
  body {
    background: var(--light);
    padding: 1rem;
  }



/* Breadcrumbs styling */
.breadcrumbs {
  list-style: none;
  padding: 1rem;
  background: var(--white);
  border-radius: .75rem;
  box-shadow: var(--shadow);
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.breadcrumbs li {
  display: inline;
  margin-right: 5px;
  color: var(--grey);
}

.breadcrumbs a {
  color: var(--orange);
  text-decoration: none;
}

.breadcrumbs a:hover {
  color: var(--orange-d-1);
}


/* Restaurant Header Info */

.header {
    position: relative;
    height: 300px; 
    border-radius: .75rem;
    margin-bottom: 2rem; 
    overflow: hidden;
  }
  
  .header img {
    max-height: 100%; 
    max-width: 100%; 
    min-width: 100%; 
    min-height: 100%;
    object-fit: fill;
    z-index: 0;
  }

  .box{
    background-color: var(--orange); 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: var(--shadow); 
    text-align: center; 
    color: var(--white); 
    margin: 10px 0;
    z-index: 10;
  }
  
  .RestaurantLogo {
    width: 100px;
    height: 100px; 
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
  
  .RestaurantLogo img {
    width: 100%;
    height: 100%;
    object-fit: contain; 
  }
  
  .navbar, .offers-container {
      flex-wrap: wrap; 
  }
    
  .restaurant-info {
      max-width: 90%; 
      right: 0; 
      left: auto; 
  }
    
  .restaurant-info {
    position: absolute;
    bottom: 20px;
    left: 130px; 
    text-align: left;
    color: black;
  }
  
  .rating {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-gap: .5rem;
    font-size: 1.5rem; 
    color: var(--yellow);
    margin-bottom: .5rem; 
  }

  .wrapper {
    background: var(--white);
    padding: 2rem;
    max-width: 100%; 
    width: 100%;
    margin: auto; 
    border-radius: .75rem;
    box-shadow: var(--shadow);
  }

  /* menu sections */
.menu-navigation {
    display: flex;
    justify-content: center;
    background-color: var(--white); 
    padding: 10px 0; 
}

.nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px; 
}

.nav-links li {
    list-style-type: none;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    background-color: #fcecdc; 
    padding: 10px 20px;
    border-radius: 20px; 
    display: inline-block;
    transition: background-color 0.3s;
}

 .nav-links a:hover {
    background-color: #F49619; 
}
.menu-category {
    margin: 20px;
    display: flex; 
    gap: 20px; 
}

/* Offers styling */
.offers-container {
    display: flex;
  justify-content: flex-start;
  flex-wrap: wrap; 
  gap: 20px; 
  }
  
  .offer-card {
    width: 280px; 
    border: 1px solid var(--grey);
    border-radius: .75rem;
    overflow: hidden;
    box-shadow: var(--shadow);
    margin: 10px; 
  }
  
  .offer-card img {
    width: 100%; 
    height: auto; 
  }

  /* cards */
h2 {
    font-size: 20px;
    align-self: flex-start; 
    margin: 20px 20px; 
}

.card{
    width: 280px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
    padding: 15px;
    box-sizing: border-box;
}

.card img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }

.dish-name-calories {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .dish-name {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
  }
  .calories {
    font-size: 14px;
    color: #888;
    margin: 0;
  }
  .description {
    font-size: 16px;
    color: #888;
    margin: 5px 0;
  }
  .price{
    font-size: 18px;
    font-weight: bold;
    margin: 0;
  }
.add-button {
    background-color: #F49619;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 53px;
    display: block;
    width: 100%;
  }
  .add-button:hover {
    background-color: #4cae4c;
  }
  .add-button:focus {
    outline: none;
  }
  .counter {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fcf2e4;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 5, 0, 0.1);
  padding: 4px 10px;
  margin-top: 53px;
}

.counter-btn {
  background-color: #F49619;;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin: 0 20px;
}

.counter-value {
  font-size: 24px;
  color: #333;
}
.counter-btn:hover {
    background-color: #4cae4c;
  }
.counter-btn:focus {
  outline: none;
}


/* Footer Styles */
footer {
  background: var(--light);
  font-family: 'Arial', sans-serif;
  padding: 20px 0;
}

.footer-container {
  max-width: 1200px; 
  margin: 0 auto;
  padding: 0 30px;
}

.footer-sections {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 44px;
}

.app-logo {
  text-align: center;
}
 .app-logo img {
  margin-right: 1em;
  width: 400px; 
  height: 90px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  border-top: 1px solid #444; 
  padding-top: 20px;
  margin-top: 20px; 
  color: #000000; 
}

.footer-bottom p{
  color: #000000
}

.language {
  margin-right: 24em; 
  margin-left: 1em;
}

.language, .footer-links {
  display: flex;
}

.company, .useful-links {
  margin-right: 30px;
}

.footer-container > div, .footer-bottom > div {
  flex: 1;
}

.copyright {
  text-align: right; 
  flex: 1; 
}

/* Style the checkbox container */
.add-checkbox-container {
  position: relative; /* Position within the card */
  width: 24px;
  height: 24px;
  border: 2px solid var(--orange); /* Orange border matching the theme */
  border-radius: 6px; /* Adjust radius for rounded corners */
  background-color: var(--white); /* White background to contrast with the border */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Hide default checkbox */
.add-checkbox {
  opacity: 0;
  position: absolute;
  width: 0;
  height: 0;
}

/* Create the checkmark */
.add-checkbox-container:after {
  content: "";
  width: 6px;
  height: 12px;
  border: solid var(--orange);
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
  opacity: 0;
}

/* Show checkmark when the checkbox is checked */
.add-checkbox:checked + .add-checkbox-container:after {
  opacity: 1;
}

/* Card styling */
.card {
  width: 280px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #fff;
  padding: 15px;
  box-sizing: border-box;
}

.card img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

/* Media Queries for Smaller Screens */

/* Screens up to 768px */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 1em 0.5em;
  }

  .logo img, .app-logo img {
    width: 50%;
  }

  .dropdown-content {
    width: auto;
  }

  .offer-card, .card {
    width: 100%;
    margin: 10px 0;
  }

  .header {
    height: 200px;
  }

  .RestaurantLogo {
    width: 80px;
    height: 80px;
  }

  .restaurant-info {
    left: 110px;
  }

  .footer-bottom {
    flex-direction: column;
    text-align: center;
  }

  .language {
    margin-right: 0;
    margin-left: 0;
  }

  .copyright {
    text-align: center;
  }

  .menu-navigation {
    flex-direction: column;
    gap: 5px;
  }

  .nav-links {
    flex-direction: column;
    gap: 5px;
  }

  .Dashboards {
    width: 100%; /* Adjust the width to occupy the entire horizontal space */
    text-align: center;
    margin-bottom: 10px; /* Add margin to separate it from other elements */
  }

  .calories {
    font-size: 12px; /* Adjust the font size to fit smaller screens */
    color: #888;
    margin: 5px 0;
  }
}

/* Screens up to 480px */
@media (max-width: 480px) {
  .navbar, .offers-container {
    flex-direction: column;
    align-items: flex-start;
    padding: 1em 0.5em;
  }

  .logo img, .app-logo img {
    width: 100px;
  }

  .header {
    height: 150px;
  }

  .RestaurantLogo {
    width: 50px;
    height: 50px;
  }

  .restaurant-info {
    left: 80px;
  }

  .card, .offer-card {
    width: 100%;
    margin: 10px 0;
  }

  .menu-category {
    flex-direction: column;
    gap: 10px;
  }

  .button-group a {
    padding: 0.5rem;
    font-size: 0.75rem;
  }

  .footer-bottom {
    flex-direction: column;
  }

  .add-item-card, .Offer-add-item-card {
    width: 100%;
    height: auto;
  }

  .sort-menu {
    flex-direction: column;
    gap: 10px;
  }

  .Dashboards {
    width: 100%; /* Adjust the width to occupy the entire horizontal space */
    text-align: center;
    margin-bottom: 10px; /* Add margin to separate it from other elements */
  }

  .calories {
    font-size: 10px; /* Further adjust for very small screens */
    color: #888;
    margin: 5px 0;
  }
}


